<<<<<<< HEAD
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    
  }
  
  body.dark-mode .navbar,
  body.dark-mode .footer {
    background-color: #1f1f1f;
  }
  
  body.dark-mode .card {
    background-color: #2c2c2c;
    border-color: #444;
  }
  
  body.dark-mode .btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  
  
  
=======
/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
>>>>>>> 3ce2e31bc0a40cd8c628492769c4ec0f0228e807
